* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #090016;
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: #f2f2f2;
}

h1 {
    font-size: 42px;
    color: #f2f2f2;
}

h2 {
    font-weight: 300;
    color: #f2f2f2;
}

p {
    margin: 0 auto;
    color: #0b0a0c;
}

.search-area {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.search-form {
    margin: 0 auto;
    text-align: center;
}

input[type="text"] {
    text-align: center;
    height: 40px;
    width: 240px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.search-button {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 140px;
    font-size: 14px;
    background-color: #f2f2f2;
    color: #0b0a0c;
    text-transform: uppercase;
    cursor: pointer;
}

.search-button:hover {
    background-color: #006ccc;
    color: #f2f2f2;
}

.search-results {
    margin-top: 20px;
    padding: 20px;
}

.source-container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
}

.source-header {
    position: relative;
    text-align: center;
    border-bottom: 1px solid gray;
}

.source-content {
    background-color: #f2f2f2;
    padding: 5px;
}
